.book{
    display: flex;
    flex-direction: row;
    border: 3px solid white;
    width: 600px;
    justify-content: center;
    margin-left: 350px;
    border-radius: 5px;
    gap: 20px;
    margin-top: 100px;
    margin-top: -6px;
    transition: all 0.5s;
}
.book:hover{
    transform: scale(1.1);
    -webkit-box-shadow: -5px 3px 21px 15px rgba(34, 60, 80, 0.6);
    -moz-box-shadow: -5px 3px 21px 15px rgba(34, 60, 80, 0.6);
    box-shadow: -5px 3px 21px 15px rgba(34, 60, 80, 0.6);
}
.info{
    color: gray;
    font-size: 20px;
    justify-content: center;
    margin-top: 50px;
}

.info h1{
    font-size: 1.2rem;
}
.details-btn{
    padding: 12px ;
    background-color: white;
    color: black;
    width: 150px;
}

.img img{
    width: 250px;
}